@model Project.Models.Car

@{
    ViewBag.Title = "Edit Car";
    Layout = "~/Views/Shared/Argon.cshtml";
}

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-gradient-info text-white">
                    <h4 class="mb-0">Edit Car</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "Seller", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Brand, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Brand, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Brand, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Model, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Year, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Price, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Mileage, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Mileage, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Fuel_type, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.Fuel_type,
                                    new SelectList(new List<string> { "Petrol", "Diesel", "CNG", "Electric", "Hybrid" }, Model.Fuel_type),
                                    "Select Fuel Type",
                                    new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Fuel_type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Transmission, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.Transmission,
                                    new SelectList(new List<string> { "Manual", "Automatic", "AMT", "CVT" }, Model.Transmission),
                                    "Select Transmission",
                                    new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Transmission, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="text-end mt-4">
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                            <a href="@Url.Action("Index", "Seller")" class="btn btn-secondary ms-2">Back to List</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
