@model IEnumerable<Project.Models.Car>

@{
    ViewBag.Title = "Available Cars";
}

<h2>Available Cars</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Mileage</th>
            <th>Fuel Type</th>
            <th>Transmission</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Price</td>
                <td>@car.Mileage</td>
                <td>@car.Fuel_type</td>
                <td>@car.Transmission</td>
                <td>@Html.ActionLink("Details", "Details", new { id = car.Id })</td>
            </tr>
        }
    </tbody>
</table>
